<!-- Social cards -->
<meta property="og:title" content="Letters to Summer">
<meta property="og:description" content="A newsletter about what we're reading, watching, listening to, and enjoying.">
<meta property="og:image" content="https://raw.githubusercontent.com/jilliangmeehan/letters-to-summer/master/assets/images/social.png">
<meta property="og:url" content="https://letterstosummer.com">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Letters to Summer">
<meta name="twitter:description" content="A newsletter about what we're reading, watching, listening to, and enjoying.">
<meta name="twitter:image" content="https://raw.githubusercontent.com/jilliangmeehan/letters-to-summer/master/assets/images/social.png">
