// Colors
$pink: #FFF4F4;
$yellow: #FFF1D5;
$purple: #8E1E9B;
$light-purple: #C899D3;
$peach: #FF907A;
$red: #FF522F;

// Dark mode
$dark: #232323;
$red-dark: #EB6247;
$purple-dark: #BF76C8;
$pink-dark: rgba(255, 244, 244, 0.1);
$yellow-dark: rgba(255, 241, 213, 0.5);

// Fonts
$sans-serif: 'DM Sans', sans-serif;
$serif: 'DM Serif Display', serif;

// Font sizes
$xxl: 144px;
$extra-large: 72px;
$large: 48px;
$medium-large: 36px;
$medium: 24px;
$medium-ish: 20px;
$regular: 18px;
$small-ish: 16px;
$small: 14px;

// Font weights
$default: 400;
$bold: 500;
