---
layout: default
---

<div class="column-layout">
  <section class="header">
    <div class="container">
      <h1>{{ site.title }}</h1>
      <p class="subtitle">Two friends sharing the things they're reading, watching, listening to, and enjoying. In your inbox every other Thursday.</p>
      <div class="signup">
        {% include mailchimp.html %}
      </div>
      <!-- <nav>
        <a href="/about">about</a>
        <a href="archive">archive</a>
      </nav> -->
    </div>
  </section>
  <section class="content">
    <div class="container">
      {{ content }}
    </div>
  </section>
</div>
