---
layout: default
---

<div class="page-layout">
  <nav>
    <h1><a href="/index.html">Letters to Summer</a></h1>
    <div class="right">
      <a class="links" href='https://ko-fi.com/W7W01FZ37'>☕ Buy us a coffee</a>
      <a class="links" href='https://www.patreon.com/letterstosummer'>✉️ Become a Pen Pal</a>
      <a class="button" href="/subscribe">Subscribe</a>
    </div>
  </nav>
  <div class="title">
    <h1>{{ page.title }}</h1>
    <p class="sub">{{ page.date | date: '%B %d, %Y' }}</p>
  </div>
  <div class="container">
    {{ content }}
  </div>
  <footer>
    <a class="button" href="/subscribe">Subscribe</a>
    <p class="kofi">☕ Wanna help support this newsletter? <a href='https://ko-fi.com/W7W01FZ37'>Buy us a coffee</a> or <a href='https://www.patreon.com/letterstosummer'>subscribe to our Patreon!</a></p>
  </footer>
</div>
